vendor

# Ignore configuration files that may contain sensitive information.
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

web/core
web/modules/contrib
